
      <!-- p style="text-align: center"><img border="0" src="/images/swccglogo.gif" alt="SWCCG logo" /></p -->
      <p><a href="/"><img src="/images/premicon.gif" align="left" hspace="3" border="0" width="20" height="20" alt="Home icon" />Home</a></p>
      <p><a href="/features/"><img src="/images/anhicon.gif" align="left" hspace="3" border="0" width="20" height="20" alt="What is? icon" />What is Holotable?</a></p>
      <p><a href="https://forum.starwarsccg.org/"><img src="/images/hothicon.gif" align="left" hspace="3" border="0" width="20" height="20" alt="Forums icon" />Forums</a></p>
      <p><a href="/downloads/"><img src="/images/dagicon.gif" align="left" hspace="3" border="0" width="20" height="20" alt="Downloads icon" />Downloads</a></p>
      <p><a href="/faq/"><img src="/images/jabbaicon.gif" align="left" hspace="3" border="0" width="20" height="20" alt="FAQ icon" />FAQ</a></p>
      <p><a href="/tutorial/"><img src="/images/seicon.gif" align="left" hspace="3" border="0" width="20" height="20" alt="Tutorial icon" />Tutorial</a></p>
      <p><a href="/readme/"><img src="/images/endoricon.gif" align="left" hspace="3" border="0" width="20" height="20" alt="Readme icon" />Holotable readme</a></p>
      <p><a href="/about/"><img src="/images/ds2icon.jpg" align="left" hspace="3" border="0" width="20" height="20" alt="About icon" />Contact/About us</a></p>
      <p><a href="https://www.starwarsccg.org"><img src="/images/reflecticon.gif" align="left" hspace="3" border="0" width="20" height="20" alt="PC icon" />Player's Committee</a></p>
      
      <!-- <hr /><p>Hosting by <a href="http://www.theforce.net">TheForce.net</a></p> -->
      <hr />
      
      <div style="text-align: center">
      <p>Holotable is free to use.</p>
      
      <hr />
      <p class="menuheader">Ratings Leaders:</p>
      <p>
      kryptofis 1761<br>spideyguy0 1695<br>RossLittauer 1606<br>johnmichael 1601<br>Jedicon 1593<br>      </p>
      
      <p><a href="/playerratings/">Complete Player Ratings</a></p>
      
      
      </div>