
{% comment %}
windows
├── gtk-2.12.9-win32-2.exe
├── holotable-0.9.9_install.exe
└── holotable-0.9.9_update.exe

linux
├── holotable-0.9.9_install_linux.tar.bz2
├── holotable-0.9.9_update_linux.tar.bz2
└── holotable-large_images_postreset.tar.bz2
{% endcomment %}

  <p class="menuheader">Current versions:</p>
  <ul>
    <li>Holotable: {{ site.downloadables.holotable_latest_version }}</li>
    <li>Holodeck: {{ site.downloadables.holodeck_latest_version }}</li>
  </ul>

  <p class="menuheader">Current Windows packages:</p>
  <ul>
    <li><a href="{{ site.downloadables.windows.holotable.url }}">{{ site.downloadables.windows.holotable.name }}</a></li>
    <li><a href="{{ site.downloadables.windows.largeimages.url }}">{{ site.downloadables.windows.largeimages.name }}</a></li>
    <li><a href="{{ site.downloadables.windows.update.url }}">{{ site.downloadables.windows.update.name }}</a></li>
  </ul>
     
  <p class="menuheader">Current Linux packages:</p>
  <ul>
    <li><a href="{{ site.downloadables.linux.holotable.url }}">{{ site.downloadables.linux.holotable.name }}</a></li>
    <li><a href="{{ site.downloadables.linux.largeimages.url }}">{{ site.downloadables.linux.largeimages.name }}</a></li>
    <li><a href="{{ site.downloadables.linux.update.url }}">{{ site.downloadables.linux.update.name }}</a></li>
  </ul>
{% comment %}
  <p><b>Central game server:</b></p>
  <p>
    <b>Logged on:</b><br />
    <br />
    <b>Playing a game:</b>
    <br />
    <br />
    <b>Game observers:</b>
    <br />
  </p>
{% endcomment %}