<!DOCTYPE html>
<html>
<head lang="en-US">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="keywords" content="Holotable, Holodeck, Star Wars CCG online, SWCCG online, Cardtable" />

  <style type="text/css">
    @import url("/main.css");
    @import url("/style.css");
  </style>
</head>

<body>

<div id="pageheader">
  <a href="/"><img border="0" src="/images/holotable_logo1.png" width="458" height="257" alt="Holotable" /></a>
</div>

<div id="wrapper" style="min-height:600px">
  <div id="leftcontent">
    {% include leftcontent.html %}
  </div>
  <div id="centercontent">
    {{ content }}
  </div>

  <div id="rightcontent">
    {% include rightcontent.html %}
  </div>
  <p>&nbsp;</p>
</div>

<div id="bottomcontent">
  {% include bottomcontent.html %}
</div>

</body>
</html>
